<app-no-privilege *ngIf="!privilege.showAll" message="No privilege to show all consumedistributions"></app-no-privilege>
<div *ngIf="privilege.showAll">
  <app-page-header title="Consumedistributions" [breadcrumbSegments]="['Consumedistributions', 'Show All Consumedistributions']"></app-page-header>
  <div *ngIf="consumedistributionDataPage!==undefined">
    <mat-card>
      <mat-card-content>
        <div class="mb-2" *ngIf="privilege.add">
          <button class="mx-0" routerLink="/consumedistributions/add" mat-stroked-button><mat-icon>add</mat-icon> New Consumedistribution</button>
        </div>
        <div class="mb-1">
          <div class="row">

            <div class="col-md-6 col-lg-3">
              <mat-form-field class="w-100 search-form-field" appearance="outline">
                <mat-label>Filter by Code</mat-label>
                <input matInput [formControl]="codeField" (keyup)="loadData()">
              </mat-form-field>
            </div>

            <div class="col-md-6 col-lg-3">
              <mat-form-field class="w-100 search-form-field"   appearance="outline">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input  [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input (ngModelChange)="loadData()" matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6 col-lg-3">
              <mat-form-field class="w-100 search-form-field" appearance="outline">
                <mat-label>Filter by Branch</mat-label>
                <mat-select [formControl]="branchField" (ngModelChange)="loadData()">
                  <mat-option [value]="null" selected >Any Branch</mat-option>
                  <mat-option *ngFor="let branch of branches" [value]="branch.id">{{branch.city}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-3">
              <mat-form-field class="w-100 search-form-field" appearance="outline">
                <mat-label>Filter by Status</mat-label>
                <mat-select [formControl]="consumedistributionstatusField" (ngModelChange)="loadData()">
                  <mat-option [value]="null" selected >Any Status</mat-option>
                  <mat-option *ngFor="let consumedistributionstatus of consumedistributionstatuses" [value]="consumedistributionstatus.id">{{consumedistributionstatus.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="table-responsive" *ngIf="consumedistributionDataPage.totalElements > 0">
          <table mat-table [dataSource]="consumedistributionDataPage.content" class="w-100">

            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>Code</th>
              <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>

            <ng-container matColumnDef="branch">
              <th mat-header-cell *matHeaderCellDef>Branch</th>
              <td mat-cell *matCellDef="let element"> {{element.branch.city}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date of Distributed</th>
              <td mat-cell *matCellDef="let element"> {{element.date | date: 'longDate'}} </td>
            </ng-container>

            <ng-container matColumnDef="consumedistributionstatus">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element"> {{element.consumedistributionstatus.name}} </td>
            </ng-container>

            <ng-container matColumnDef="more-col">
              <th class="btn-col" mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" class="btn-col">
                <button routerLink="/consumedistributions/{{element.id}}" class="mat-btn-sm" mat-stroked-button><mat-icon>visibility</mat-icon> More ...</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete-col">
              <th class="btn-col" mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" class="btn-col">
                <button (click)="delete(element)" class="mat-btn-sm" mat-flat-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="update-col">
              <th class="btn-col" mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" class="btn-col">
                <button routerLink="/consumedistributions/edit/{{element.id}}" class="mat-btn-sm" mat-flat-button color="accent"><mat-icon>edit</mat-icon> Change</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <app-empty-data-table message="No consumedistributions to show" *ngIf="consumedistributionDataPage.totalElements === 0"></app-empty-data-table>
        <div class="mt-1">
          <mat-paginator
            [length]="consumedistributionDataPage.totalElements"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 50, 100]"
            (page)="paginate($event)"
            [showFirstLastButtons]="true"
          >
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
