<app-no-privilege *ngIf="!privilege.update" message="No privilege to change rental details"></app-no-privilege>
<div *ngIf="this.rental && privilege.update">
  <app-page-header
    title="Rental Change Form of {{ rental.code + ' - ' + rental.name }}"
    [breadcrumbSegments]="['Rentals', 'Show All Rentals', 'Change Details of ' + rental.code + ' - ' + rental.name]"
  ></app-page-header>
  <form [formGroup]="form" (ngSubmit)="submit()" #ngForm="ngForm">
    <mat-card>
      <mat-card-content>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Branch</mat-label>
                <mat-select formControlName="branch" required>
                  <mat-option *ngFor="let branch of branches" [value]="branch.id">{{branch.city}}</mat-option>
                </mat-select>
                <mat-error *ngIf="branchField.invalid">
                  <span *ngIf="branchField.errors.required">Select at lease one branch</span>
                  <span *ngIf="branchField.errors.server">{{branchField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-8">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-hint>Ex: Galle Building Rent</mat-hint>
                <mat-error *ngIf="nameField.invalid">
                  <span *ngIf="nameField.errors.required">Name is required</span>
                  <span *ngIf="nameField.errors.server">{{nameField.errors.server.join(', ')}}</span>
                  <span *ngIf="nameField.errors.minlength">Name should has at least 2 characters. </span>
                  <span *ngIf="nameField.errors.maxlength">Name can have a maximum of 255 characters. </span>
                  <span *ngIf="nameField.errors.pattern">Name is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Rental Date</mat-label>
                <input matInput [matDatepicker]="pickerdate" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="pickerdate"></mat-datepicker-toggle>
                <mat-datepicker #pickerdate></mat-datepicker>
                <mat-hint>Ex: 2020/10/02</mat-hint>
                <mat-error *ngIf="dateField.invalid">
                  <span *ngIf="dateField.errors.required">Rental Date is required</span>
                  <span *ngIf="dateField.errors.server">{{dateField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Amount</mat-label>
                <input type="number" matInput formControlName="amount" required>
                <mat-hint>Ex: Rs : 1500</mat-hint>
                <mat-error *ngIf="amountField.invalid">
                  <span *ngIf="amountField.errors.required">Amount is required</span>
                  <span *ngIf="amountField.errors.server">{{amountField.errors.server.join(', ')}}</span>
                  <span *ngIf="amountField.errors.min">Amount should be equal or greater than 0</span>
                  <span *ngIf="amountField.errors.max">Amount should be equal or less than 10000000</span>
                  <span *ngIf="amountField.errors.pattern">Amount is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Status</mat-label>
                <mat-select formControlName="rentalstatus" required>
                  <mat-option *ngFor="let rentalstatus of rentalstatuses" [value]="rentalstatus.id">{{rentalstatus.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="rentalstatusField.invalid">
                  <span *ngIf="rentalstatusField.errors.required">Select at lease one status</span>
                  <span *ngIf="rentalstatusField.errors.server">{{rentalstatusField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" ></textarea>
            <mat-hint>Ex: </mat-hint>
            <mat-error *ngIf="descriptionField.invalid">
              <span *ngIf="descriptionField.errors.server">{{descriptionField.errors.server.join(', ')}}</span>
              <span *ngIf="descriptionField.errors.minlength">Description should has at least null characters. </span>
              <span *ngIf="descriptionField.errors.maxlength">Description can have a maximum of 65535 characters. </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="text-right mt-5 d-flex">
          <button *ngIf="privilege.showAll" routerLink="/rentals" class="ml-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Rentals</button>
          <span class="spacer"></span>
          <button mat-stroked-button type="button" (click)="discardChanges()"><mat-icon>refresh</mat-icon> Clear</button>
          <button class="mr-0" mat-flat-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
