<app-no-privilege *ngIf="!privilege.update" message="No privilege to change service details"></app-no-privilege>
<div *ngIf="this.service && privilege.update">
  <app-page-header
    title="Service Change Form of {{ service.code }}"
    [breadcrumbSegments]="['Services', 'Show All Services', 'Change Details of ' + service.code]"
  ></app-page-header>
  <form [formGroup]="form" (ngSubmit)="submit()" #ngForm="ngForm">
    <mat-card>
      <mat-card-content>
        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Branch</mat-label>
                <mat-select (change)="loadBranchSection()" formControlName="branch" required>
                  <mat-option *ngFor="let branch of branches" [value]="branch.id">{{branch.city}}</mat-option>
                </mat-select>
                <mat-error *ngIf="branchField.invalid">
                  <span *ngIf="branchField.errors.required">Select at lease one branch</span>
                  <span *ngIf="branchField.errors.server">{{branchField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Branch Section</mat-label>
                <mat-select (selectionChange)="loadItem()" formControlName="branchsection">
                  <mat-option *ngFor="let branchsection of branchsections" [value]="branchsection.id">{{branchsection.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="branchSectionField.invalid">
                  <span *ngIf="branchSectionField.errors.required">Select at lease one branch section</span>
                  <span *ngIf="branchSectionField.errors.server">{{branchField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Vendor</mat-label>
                <mat-select (selectionChange)="loadType()" formControlName="vendor" required>
                  <mat-option *ngFor="let vendor of vendors" [value]="vendor.id">{{vendor.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="vendorField.invalid">
                  <span *ngIf="vendorField.errors.required">Select at lease one vendor</span>
                  <span *ngIf="vendorField.errors.server">{{vendorField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Type</mat-label>
                <mat-select formControlName="servicetype" required>
                  <mat-option *ngFor="let servicetype of servicetypes" [value]="servicetype.id">{{servicetype.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="servicetypeField.invalid">
                  <span *ngIf="servicetypeField.errors.required">Select at lease one type</span>
                  <span *ngIf="servicetypeField.errors.server">{{servicetypeField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="pickersdate" formControlName="sdate" required>
                <mat-datepicker-toggle matSuffix [for]="pickersdate"></mat-datepicker-toggle>
                <mat-datepicker #pickersdate></mat-datepicker>
                <mat-hint>Ex: 2020/10/02</mat-hint>
                <mat-error *ngIf="sdateField.invalid">
                  <span *ngIf="sdateField.errors.required">Start Date is required</span>
                  <span *ngIf="sdateField.errors.server">{{sdateField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-8">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required>
                <mat-hint>Ex: Gampaha Reception A/C Repair</mat-hint>
                <mat-error *ngIf="titleField.invalid">
                  <span *ngIf="titleField.errors.required">Title is required</span>
                  <span *ngIf="titleField.errors.server">{{titleField.errors.server.join(', ')}}</span>
                  <span *ngIf="titleField.errors.minlength">Title should has at least 5 characters. </span>
                  <span *ngIf="titleField.errors.maxlength">Title can have a maximum of 255 characters. </span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <h3 class="mb-0 mat-subheading-1 font-weight-light">Service Items</h3>
          <app-serviceprocurementitem-update-sub-form [procurementitems]="procurementitems" (ngModelChange)="totalCalculation()" [min]="1" [max]="0" formControlName="serviceprocurementitems"></app-serviceprocurementitem-update-sub-form>
          <div class="error-box" *ngIf="serviceprocurementitemsField.invalid && !serviceprocurementitemsField.pristine">
            <p *ngIf="serviceprocurementitemsField.errors.min">Should has at least 1 service items</p>
            <p *ngIf="serviceprocurementitemsField.errors.max">Maximum allowed only 0 Service Items</p>
                <span *ngIf="serviceprocurementitemsField.errors.server">{{serviceprocurementitemsField.errors.server.join(', ')}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Price</mat-label>
                <input type="number" matInput formControlName="total" required>
                <mat-hint>Ex: Rs : 1500</mat-hint>
                <mat-error *ngIf="totalField.invalid">
                  <span *ngIf="totalField.errors.required">Price is required</span>
                  <span *ngIf="totalField.errors.server">{{totalField.errors.server.join(', ')}}</span>
                  <span *ngIf="totalField.errors.min">Price should be equal or greater than 0</span>
                  <span *ngIf="totalField.errors.max">Price should be equal or less than 10000000</span>
                  <span *ngIf="totalField.errors.pattern">Price is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div hidden class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Balance</mat-label>
                <input  type="number" matInput formControlName="balance" required>
                <mat-hint>Ex: Rs : 1500</mat-hint>
                <mat-error *ngIf="balanceField.invalid">
                  <span *ngIf="balanceField.errors.required">Balance is required</span>
                  <span *ngIf="balanceField.errors.server">{{balanceField.errors.server.join(', ')}}</span>
                  <span *ngIf="balanceField.errors.min">Balance should be equal or greater than 0</span>
                  <span *ngIf="balanceField.errors.max">Balance should be equal or less than 10000000</span>
                  <span *ngIf="balanceField.errors.pattern">Balance is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="pickeredate" formControlName="edate" >
                <mat-datepicker-toggle matSuffix [for]="pickeredate"></mat-datepicker-toggle>
                <mat-datepicker #pickeredate></mat-datepicker>
                <mat-hint>Ex: 2020/10/02</mat-hint>
                <mat-error *ngIf="edateField.invalid">
                  <span *ngIf="edateField.errors.server">{{edateField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Status</mat-label>
                <mat-select formControlName="servicestatus" required>
                  <mat-option [disabled]="servicestatus.id == 1" *ngFor="let servicestatus of servicestatuses" [value]="servicestatus.id">{{servicestatus.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="servicestatusField.invalid">
                  <span *ngIf="servicestatusField.errors.required">Select at lease one status</span>
                  <span *ngIf="servicestatusField.errors.server">{{servicestatusField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Invoice</mat-label>
            <app-file-chooser placeholder="No choosed invoices to show" [min]="0" [max]="1" [accept]="['application/pdf']" formControlName="invoice"></app-file-chooser>
            <mat-hint>Select any application/pdf file</mat-hint>
            <mat-error *ngIf="invoiceField.invalid">
              <span *ngIf="invoiceField.errors.server">{{invoiceField.errors.server.join(', ')}}</span>
              <span *ngIf="invoiceField.errors.min">invoice is required</span>
              <span *ngIf="invoiceField.errors.max">Maximum allowed invoice count is 1</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" ></textarea>
            <mat-hint>Ex: </mat-hint>
            <mat-error *ngIf="descriptionField.invalid">
              <span *ngIf="descriptionField.errors.server">{{descriptionField.errors.server.join(', ')}}</span>
              <span *ngIf="descriptionField.errors.minlength">Description should has at least null characters. </span>
              <span *ngIf="descriptionField.errors.maxlength">Description can have a maximum of 65535 characters. </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="text-right mt-5 d-flex">
          <button *ngIf="privilege.showAll" routerLink="/services" class="ml-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Services</button>
          <span class="spacer"></span>
          <button mat-stroked-button type="button" (click)="discardChanges()"><mat-icon>refresh</mat-icon> Clear</button>
          <button class="mr-0" mat-flat-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
